flask<3.2
folium<0.19
ipykernel<7
matplotlib<3.8
nbformat<5.11
nbimporter<0.4
networkx<3.3
nicegui<2
nltk<4
pandas<2.3
pyparsing<3.1
pytest<9
requests<2.33
scikit-learn<1.6
seaborn<0.13
statsmodels<0.15
umap-learn==0.5.7
urllib3<2